.softwareComponent {
  width: 100%;
  height: 80%;
  position: relative;

  section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;

    .softwareText {
      width: 80%;
      height: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      padding: 0px 50px;
      margin: 90px 0;

      h5 {
        text-decoration: underline;
        text-decoration-color: white;
      }
    }

    .imgContainer {
      width: 100%;
      display: flex;
      justify-content: center;

      .software {
        width: 90%;
        max-width: 100%;
        min-width: 400px;
        position: relative;
        margin: auto;
        margin-left: 50px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .softwareComponent {
    section {
      display: block;

      .imgContainer {
        display: none;
      }
      .softwareText {
        border-left: 7px solid #47baff;
        margin-left: 5px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
      }
    }
  }
}
