.button {
  background: linear-gradient(315deg, #182a3e 0%, #121f2d 74%);
  width: 100%;
  padding: 5px 20px;
  text-align: center;
  border: 3px solid white;
  border-radius: 20px;

  &:hover {
    background: linear-gradient(315deg, #696c6d 0%, #4d4846 74%);
    cursor: pointer;
  }
  a {
    color: white;
    text-decoration: none;
  }
}
