.projectList {
  width: 100%;
  height: 100%;
  padding: 50px 0;
  position: relative;
  background-color: rgb(245, 245, 245);

  h2 {
    color: #182a3e;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #182a3e;
    text-decoration-line: 30%;
  }

  .grid {
    display: grid;
    width: 65%;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: auto;
    padding: 20px 0;
  }
}

.parallax {
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1045px) {
  .projectList {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 690px) {
  .projectList {
    .grid {
      grid-template-columns: 1fr;
    }
  }
}
