.aboutComponent {
  background: linear-gradient(315deg, #182a3e 0%, #121f2d 74%);
  width: 100%;
  height: 100%;
  position: relative;

  section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 50px 0 120px;

    .aboutText {
      margin-top: 40px;
      width: 100%;
      height: 100%;
      color: white;
      align-items: left;
      display: flex;
      flex-direction: column;
      padding: 0px 50px;
    }

    .imgContainer {
      width: 100%;
      display: flex;
      justify-content: center;

      .programmer {
        width: 90%;
        max-width: 100%;
        min-width: 470px;
        // position: relative;
        margin: auto;
        margin-right: 50px;
      }
    }
  }
}

.parallax {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 800px) {
  .aboutComponent {
    section {
      display: block;

      .imgContainer {
        display: none;
      }
      .aboutsText {
        text-align: center;
        box-sizing: border-box;
      }
    }
  }
}
