.navbar {
  background-image: linear-gradient(315deg, #182a3e 0%, #121f2d 74%) !important;
  visibility: visible;
  transform: scale(1);

  transform-origin: top;
  transition: 0.5s ease-in-out;
}
.hidden {
  transform: scaleY(0);
  transform: translateY(-100%);
  transform-origin: top;

  transition: all 0.5s;
}
.logo {
  min-width: 10%;
  height: 35px;
}
.navLinks:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
